.container_principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 700px;
}

.container_textual {
  width: 371px;
  height: 398px;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container_textual h1 {
  font-weight: 700;
  font-size: 51px;
}

.container_textual p {
  max-width: 329px;
  font-weight: 400;
  font-size: 19px;
}

.btn {
  width: 143px;
  height: 52px;
  background-color: #A36A4F;
  color: #FFFFFF;
  border-radius: 36px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_img {
  width: 474px;
  height: 474px;
  position: relative;
}

.bigcoffee {
  border-radius: 50%;
  width: 352px;
  height: 352px;
  position: absolute;
  left: 0;
  top: 0;
}

.smallcoffee {
  border-radius: 50%;
  width: 249px;
  height: 249px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.container_dark {
  width: 100%;
  height: 480px;
  background-color: #363032;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.container_dark div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 13px;
}

.container_dark p {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 13px;
  text-align: center;
}

.img1, .img2, .img3, .img4, .img5 {
  height: 196px;
  width: 148px;
  border-radius: 16px;
}

.container_referencia {
  position: relative;
  font-family: "Poppins", serif;
}

.container_flutuante {
  width: 703px;
  height: 167px;
  background-color: #ECDAC4;
  border-radius: 80px;
  position: absolute;
  top: -84px;
  margin: auto;
  left: 0;
  right: 0;
  padding-top: 5px
}

.metricas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  width: 686px;
  color: #363031;
  gap: 10px;

}

.metricas div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-top: 10px;
  max-width: 170px;
}

.metricas div p {
  max-width: 150px;
  font-weight: 400;
  font-size: 14px;
}

.metricas div h2 {
  font-size: 25px;
  font-weight: 600;
}

.coffee_icon {
  width: 28px;
  height: 28px;
}
